<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Rewrite Rule 1" stopProcessing="true">
                    <match url=".*" ignoreCase="false" />
                    <action type="Rewrite" url="checker.js" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>